#guess-box {
    width: 300px;
    height: 300px;
}
#guess-map {
    width: 300px;
    height: 262px;
    opacity: 0.7;
}
#guess-map:hover {
    opacity: 1;
}
#guess-button {
    z-index: 9999;
    opacity: 1;
}